---
import { Icon } from "astro-icon/components";
import YukinaConfig from "../../../yukina.config";
import I18nKeys from "../../locales/keys";
import { i18n } from "../../locales/translation";
import { formatDate } from "../../utils/date";

export interface Props {
  title: string;
  published: Date;
  license?: {
    name: string;
    url?: string;
  };
  sourceLink?: string;
  author?: string;
}

const { title, published, license, author, sourceLink } = Astro.props;
---

<div
  class="fonts relative z-0 mt-4 flex h-auto min-h-[8rem] w-full flex-col justify-between overflow-hidden rounded-lg bg-gray-100 px-5 py-5 lg:min-h-[9rem] dark:bg-[var(--background-color)]"
>
  <!-- Background watermark icon -->
  <div
    class="pointer-events-none absolute right-0 top-1/2 z-0 -translate-y-1/2 select-none"
  >
    <Icon
      name="ooui:logo-cc"
      size={230}
      class="text-gray-300 dark:text-[var(--card-color)]"
    />
  </div>

  <!-- Content flow -->
  <div class="z-10 flex h-full flex-col justify-between space-y-4">
    <div class="flex flex-col items-start space-y-1">
      <p
        class="!my-0 break-words pl-1 text-xl font-bold text-[var(--text-color)] lg:text-2xl"
      >
        {title}
      </p>

      {
        sourceLink ? (
          <a
            href={sourceLink}
            class="rounded-md px-1 py-0.5 text-sm transition-all hover:bg-[var(--primary-color-lighten)]"
            target="_blank"
            rel="noopener noreferrer"
          >
            {i18n(I18nKeys.source_link)}
          </a>
        ) : null
      }
    </div>

    <div class="ml-1 flex flex-row space-x-6 lg:space-x-8">
      <div class="flex flex-col">
        <span class="select-none text-sm text-[var(--text-color-lighten)]">
          {i18n(I18nKeys.copy_right_author)}
        </span>
        <p
          class="!my-0 line-clamp-1 text-sm font-semibold text-[var(--text-color)] lg:text-base"
        >
          {author ?? YukinaConfig.username}
        </p>
      </div>
      <div class="flex flex-col">
        <span class="select-none text-sm text-[var(--text-color-lighten)]">
          {i18n(I18nKeys.copy_right_publish_date)}
        </span>
        <p
          class="!my-0 line-clamp-1 text-sm font-semibold text-[var(--text-color)] lg:text-base"
        >
          {formatDate(published, YukinaConfig.locale)}
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .fonts {
    font-family: var(--primary-font);
  }
</style>
